.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-one {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sqare-big {
    width: 500px;
    height: 500px;
    background-color: aqua;
    line-height: 500px;
    margin-bottom: 20px;
}

.sqare-middle {
    width: 250px;
    height: 250px;
    background-color: rgb(38, 184, 70);
    line-height: 250px;
    margin-bottom: 20px;
}

.sqare-little {
    width: 100px;
    height: 100px;
    background-color: rgb(174, 122, 223);
    line-height: 50px;
}

.cange-fonts-italic {
    font-style: italic;
}

.login-check {
    background-color: cadetblue;
}

.arr-name {
    margin-bottom: 20px;
    border: 1px solid black;
    list-style: none;
}

.task2 {
    font-size: 50px;
}

.space {
    height: 20px;
}